<div class="grid bg-cyan-100">
    <div class="col-2">
        <img id="logo-header" src="https://i.ibb.co/F7q6NrN/logo-u.png" alt="">
    </div>
    <div class="col-4" >
        <h3>SITE ALMACEN</h3>
    </div>
    <div class="col-6" >
        <p-menubar  [model]="opc" [style]="estilosMenu">
            <ng-template pTemplate="start">
                <img src="https://especiales.semana.com/futbol-profesional-colombiano/imagenes/articulos/asi-se-hizo-grande-el-junior-de-barranquilla/apertura-movil-asi-se-hizo-grande-el-junior-de-barranquilla.jpg" height="40" class="p-mr-2">
            </ng-template>
        </p-menubar>
    </div>
</div>
